/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: hsl(273, 100%, 49%);
}

/* Colors */
:root {
	--hue: 180;

	--base-color: hsl(var(--hue) 100% 25%);
	--body-color: hsl(var(--hue) 80% 60%);
	--header-color: hsl(var(--hue) 60% 90%);
	--title-color: hsl(var(--hue) 90% 40%);
	--text-color: hsl(0, 0%, 40%);
	--button-color: hsl(81, 100%, 44%);
	--navbar-color: hsl(338, 100%, 48%);
	--background-color: hsl(0, 0%, 95%);
	--error-color: hsl(342, 94%, 45%);
}

/* All Pages */
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

button {
	margin-bottom: 5px;
	margin-top: 5px;
}

/* NavBar */

/* Home Page */
.home-image {
	width: 50vw;
	height: 50vh;
}

/* Cards */

.create-card {
	margin: 5px;
	width: 30vw;
	height: 60vh;
}

.card-image {
	width: 50vw;
	height: 40vh;
	margin-bottom: 10px;
}

/* Profile Page */
.profile-image {
	max-width: 50px;
}
