body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* index.css */

a {
	list-style: none;
	color: rgb(0, 0, 0);
}

button,
select {
	padding: 5px 10px;
	min-width: 50px;
	margin: 5px;
	font-size: 18px;
}

label {
	width: 200px;
	display: block;
}

input,
textarea {
	width: 200px;
	padding: 10px;
	display: inline-block;
	margin: 10px;
}

.Navbar {
	background: hsl(342, 97%, 37%);
	color: white;
	padding: 0px 20px;
	box-shadow: 0px 1px 2px gray;
	width: 100%;
	margin-bottom: 15px;
	padding: 5px;
}

.Navbar li {
	list-style: none;
	color: white;
	font-size: 24px;
	font-weight: 600;
}

.SignupPage, .LoginPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	padding: 10px;
	box-shadow: 0px 2px 3px grey;
	margin: 0 auto;
	margin-bottom: 20px;
	background: hsl(342, 97%, 29%);
	border-radius: 4px;
}

.card {
	width: 400px;
	padding: 10px;
	box-shadow: 0px 2px 3px grey;
	margin: 0 auto;
	margin-bottom: 20px;
	background: hsl(342, 97%, 29%);
	border-radius: 4px;
}

.ProjectCard h3::after {
	content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
	margin-left: 5px;
}

.EditProjectPage,
.AddProject,
.AddTask {
	background: #f9eec3;
	border: 1px solid grey;
	box-shadow: 0px 2px 3px grey;
	width: 400px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 4px;
}

.EditProjectPage {
	background-color: rgb(239, 196, 88);
}

.EditProjectPage form,
.AddTask form,
.AddProject form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.AddTask button,
.AddProject button {
	display: block;
}

.TaskCard {
	background-color: #dfeef9;
}
